@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* @media only screen and (min-width: 1px) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-color-white{
  color: #fff;

}
.navbar_margin{
  margin-Top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.dp_profile{
  vertical-align: middle;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}


@media only screen and (max-width: 800px) {
  .navbar_margin{
    margin-bottom: 15vh;
    margin-Top: 0px;
    margin-left: 0px;
    margin-right: 0px;

  }
  .dp_profile{
    vertical-align: middle;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .text-color-white{
    color: #2e2020;
  
  }
}